# System Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.venv/
venv/
env/
__pycache__/
*.py[cod]

# Environment Variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Custom Exclusions
inference-engine/data/
