# Exclude data to prevent large build context
data/

# Exclude virtual environment and git
.venv/
venv/
.git/
.gitignore
.dockerignore

# Exclude compiled python files
__pycache__/
*.py[cod]

# Exclude IDE settings
.vscode/
.idea/
